
header {
    width: 100%;
    background-image: url('../img/header-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    height: 15vh;
}

.logo-container {
    width: 55.84vh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo-text {
    font-weight: 600;
    text-shadow: 4px 2px 6px #000000;
    color: #fff;
}

.logo-image{
    width: 40%;
}

.info-aluno-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: auto;
    color: #095B8A;
}

.info-aluno-container img {
    height: 45px;

}

.text-align {
    display: flex;
    flex-direction: column;
}

.person-container {
    height: 55px;
    width: 55px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

